*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  position: relative;
  top: 4%;
  right: 5%;
}

/* ----------------------------------------------------- */
/* navbar */
/* ----------------------------------------------------- */
.navbar {
  height: 15%;
/* font-family: 'Libre Baskerville', serif; */
}
.navbar-brand{
    font-weight: 900;
    font-size: 1rem;
    /* margin-top: 2%; */
}
.btext{
  margin-top: 2%;

}
 #navbarText{
   margin-top: 2%;
     font-size: 1rem;
 }

 .align-text-top{
   height: 80px;
   width: 80px;
 }


#timeline{
  margin-top: 5%;
  padding-top: 5%;
}
body {
  background-color: #03011f;
  /* font-family: "Source Sans Pro"; */

}

h1 {
  text-align:center;
  font-size: 40px;
}

.ul {
  padding: 50px 0;
}

.li {
  position:relative;
  list-style-type: none;
  width: 6px;
  background-color: white;
  margin: 0 auto;
  padding-top: 50px;
}

.li::after {
  background:  white;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: 0;
  }


.divb{
  position: relative;
  width: 400px;
  padding: 15px;
  border-radius: 8px;
  /* border: 1px solid ; */
  bottom: 0;
  background: rgba(255, 255, 255, .20);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.odd {
  left: 45px;
}

.even {
  left: -445px;
}

time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.divb {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.odd {
  transform: translate3d(200px, 0, 0);
}

.even {
  transform: translate3d(-200px, 0, 0);
}

ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .divb {
    width: 250px;
  }
  .even{
    left: -289px;
    /*250+45-6*/
  }
  .nav-item{
    font-size: 2rem;
  }
  .navbar-text{
      font-size: 2rem;
      position: relative;
      right: 0%;
  }
  .align-text-top{
    height: 100px;
    width: 100px;
  }
  .heading1{
    margin-left: 28%;
  }
  .navbar {
    height: auto;

  }
  .btext{
    font-size: 1.5rem;
  }
  #timeline{
    margin-top: 12%;
    padding-top: 7%;
    padding-bottom: 7%;
  }
}

/* ------------------------------------------------------ */
/* footer */
/* ------------------------------------------------------ */
#footer {
text-align: center;
padding-top: 10px;
margin-top: 10px;
margin-bottom: -50px;
padding-bottom: 0.1rem;
background-color: #efefef;
color: black;

}
.footer-text{
color: black;
text-align: center;
}
.copyright{
margin-top: -17px;
padding-top: 2%;
}
.social-icon {
margin-left: 5px;
margin-right: 5px;
margin-bottom: 5px;
margin-top: 0px;
}
